.hull {
    fill-opacity: 0.7;
}

.hull:hover {
    fill-opacity: 1;
}

.hull-highlighted {
    stroke-opacity: 1;
    stroke-width: 50;
    stroke: black;
}

.hull-removing {
    fill: lightgray;
    stroke: gray;
    stroke-width: 5;
}

.mNum, .meterSig {
    display: none;
}
