.hull {
    fill-opacity: 0.2;
    fill: red;
    stroke-width: 10;
    stroke: black;
}

.hull:hover {
    fill-opacity: 0.5;
}

.hull-highlighted {
    stroke-opacity: 1;
    stroke-width: 50;
    stroke: black;
}

.mNum {
    display: none;
}
